
[submodule "submodules/rlottie/rlottie"]
	path = submodules/rlottie/rlottie
	url = https://github.com/behappy-ios/rlottie.git
[submodule "build-system/bazel-rules/rules_apple"]
	path = build-system/bazel-rules/rules_apple
url=https://github.com/behappy-ios/rules_apple.git
[submodule "build-system/bazel-rules/rules_swift"]
	path = build-system/bazel-rules/rules_swift
url=https://github.com/behappy-ios/rules_swift.git
[submodule "build-system/bazel-rules/apple_support"]
	path = build-system/bazel-rules/apple_support
	url = https://github.com/behappy-ios/apple_support.git
[submodule "submodules/TgVoipWebrtc/tgcalls"]
	path = submodules/TgVoipWebrtc/tgcalls
url = https://github.com/behappy-ios/tgcalls.git
[submodule "third-party/libvpx/libvpx"]
	path = third-party/libvpx/libvpx
	url = https://github.com/behappy-ios/libvpx.git
[submodule "third-party/webrtc/webrtc"]
	path = third-party/webrtc/webrtc
	url = https://github.com/behappy-ios/webrtc.git
[submodule "build-system/bazel-rules/rules_xcodeproj"]
	path = build-system/bazel-rules/rules_xcodeproj
	url = https://github.com/behappy-ios/rules_xcodeproj.git
[submodule "submodules/LottieCpp/lottiecpp"]
	path = submodules/LottieCpp/lottiecpp
	url = https://github.com/behappy-ios/lottiecpp.git
[submodule "third-party/dav1d/dav1d"]
	path = third-party/dav1d/dav1d
	url = https://github.com/behappy-ios/dav1d.git
[submodule "third-party/td/td"]
	path = third-party/td/td
	url = https://github.com/bdlib/bhlib
[submodule "third-party/XcodeGen"]
	path = third-party/XcodeGen
	url = https://github.com/behappy-ios/XcodeGen.git
[submodule "build-system/bazel-rules/sourcekit-bazel-bsp"]
	path = build-system/bazel-rules/sourcekit-bazel-bsp
	url = https://github.com/behappy-ios/sourcekit-bazel-bsp.git
